//  ======================================================================================================
//
//  Variables
//
//  ======================================================================================================

//  Responsive Breakpoints
//  --------------------------------------------------
    $break-xs:           350px  !default;
    $break-sm:           580px  !default;
    $break-md:           768px  !default;
    $break-lg:           1024px !default;
    $break-xl:           1280px !default;

//  Color
//  --------------------------------------------------
    // Neutrals
    $white:             rgba(255,255,255,1)    !default;
    $black:             rgba(0, 0, 0, 1)       !default;
    $transparent:       rgba(0, 0, 0, 0)       !default;
    $grey-1:            rgba(51, 51, 51, 1)    !default;
    $grey-2:            rgba(119, 119, 119, 1) !default;
    $grey-3:            rgba(235, 233, 229, 1) !default;
    $grey-4:            rgba(242, 241, 238, 1) !default;

    $blue-1:            rgba(109, 148, 192, 1) !default;

    $red-1:             rgba(255, 48, 36, 1) !default;
    $red-2:             rgba(230, 52, 41, 1) !default;

//  Default Color Settings
//  --------------------------------------------------
    $body-bg:                 $grey-3      !default;
    $default-txt-color:       $grey-1      !default;
    $placeholder-txt-color:   $grey-2      !default;

    $hr-color:                $grey-2     !default;
    $highlight:               $blue-1     !default;
    $highlight-text:          $white      !default;
    $turbolinks-progress-bar: $red-2      !default;

//  Font Families
//  --------------------------------------------------
    $font-poppins-light:              'Poppins-Light', Verdana, sans-serif !default;
    $font-poppins-regular:            'Poppins-Regular', Verdana, sans-serif !default;
    $font-poppins-medium:             'Poppins-Medium', Verdana, sans-serif !default;
    $font-poppins-bold:               'Poppins-Bold', Verdana, sans-serif !default;
    $font-poppins-black:              'Poppins-Black', Verdana, sans-serif !default;

    $font-roboto-regular:             'Roboto-Regular', Verdana, sans-serif !default;
    // $font-icons:              'icons'                      !default;

    $font-bold:                       $font-poppins-bold, Verdana, Arial, sans-serif !default;
    $font-regular:                    $font-roboto-regular, Verdana, Arial, sans-serif !default;
    $font-light:                      $font-poppins-light, Verdana, Arial, sans-serif !default;


//  Font Stacks
//  --------------------------------------------------
    $font-family-default:     $font-regular        !default;
    $font-family-bold:        $font-bold           !default;
    $font-family-italic:      $font-regular        !default;


//  Type Sizes (use rem mixin to apply)
//  --------------------------------------------------
    $font-size-base:          16px                 !default;
    $font-size-root:          62.5%                !default;

//  Defaults
//  --------------------------------------------------
    $font-weight-default:     normal               !default;
    $line-height-base:        1.5                  !default;

//  Headings
//  --------------------------------------------------
    $headings-font-family:    $font-bold           !default;
    $headings-font-weight:    normal               !default;
    $headings-line-height:    $line-height-base    !default;
    $headings-font-color:     $black               !default;

//  Blockquotes
//  --------------------------------------------------
    $blockquote-font-family:  $font-family-default !default;
    $blockquote-txt-size:     $font-size-base      !default;
    $blockquote-txt-color:    $default-txt-color   !default;

//  Links
//  --------------------------------------------------
    $link-color:              $grey-2              !default;
    $link-hover-color:        $red-1               !default;

//  Forms
//  --------------------------------------------------
    $font-family-form:        $font-family-default !default;
    $font-family-label:       $font-family-default !default;

//  Animation
//  --------------------------------------------------
    $default-animation:       all 0.3s             !default;
    $default-animation-duration:  0.3s             !default;

//  Site Max Width
//  --------------------------------------------------
    $max-width:  1282px;
    $max-width-sm: 550px;
    $nav-height-xs: 80px;
    $nav-height-sm: 150px;
    $nav-height-lg: 100px;

    $body-padding-xs: 20px;
    $body-padding-md: $body-padding-xs * 2;
