.fa {
  &--white { color: $white; }
  &--black { color: $black; }
  &--grey { color: $grey-2; }

  &--size-16 { @include font-size(16); }
}


.fa--link {

  &.fa--white {
    &:hover,
    &:visited {
      color: $white;
    }
  }
  &.fa--black {
    &:hover,
    &:visited {
      color: $black;
    }
  }
  &.fa--grey {
    &:hover,
    &:visited {
      color: $grey-2;
    }
  }

  &:hover { opacity: 0.7; }
}
