.columns {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * + * { margin-top: 35px; }

  @include breakpoint(sm) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    & > * + * {
      margin-top: 0;
      padding: 0 7px;
    }
  }
}
