.columns {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * + * { margin-top: 35px; }

  @include breakpoint(sm) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    & > * {
      flex: 1;
      padding: 0 7px;
    }

    & > * + * { margin-top: 0; }
  }
}

.columns--row-reverse {
  @include breakpoint(sm) {
    flex-direction: row-reverse;
  }
}

// .columns--col-reverse {
//   flex-direction: column-reverse;

//   & > *:last-child { margin-top: 0; }
//   & > *:first-child { margin-top: 35px; }

//   @include breakpoint(sm) {
//     flex-direction: row;
//     & > * { margin-top: 0 !important; }
//   }
// }
