.footer {
  background-color: $grey-2;
  padding: 20px $body-padding-xs;

  @include breakpoint(md) {
    padding: 20px $body-padding-md;
  }
}

.footer__body {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoint(sm) {
    flex-direction: row;
  }
}

.footer__logo {
  width: 250px;
}

.footer__social {
  margin-top: 10px;

  @include breakpoint(sm) {
    margin-left: 30px;
    margin-top: 0;
  }
}

.footer__social__item {
  display: inline-block;

  a {
    display: inline-block;
    padding: 5px;
    // to take away extra space above/below icon
    line-height: 0;
  }

  & + .footer__social__item {
    margin-left: 20px;
  }
}
