.gallery {
  position: relative;
  overflow: hidden;
}

.gallery__list { height: 100%; }

.gallery__list__item {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 500ms opacity ease-in-out;

  img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.gallery__controls {
  position: absolute;
  bottom: 0;
  left: 10%;
  background-color: $black;
  z-index: 20;
}

.gallery__controls__btn {
  transition: $default-animation;
  background-color: $white;
  width: 35px;
  height: 35px;
  text-align: center;

  &:hover { opacity: 0.8; }
}
