.google-map {
  height: 485px;
  position: relative;
}

.google-map__main { height: 100%; }

.google-map__overlay {
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: $white;
  padding: 10px;
  max-width: 40%;
  min-width: 250px;

  a,
  a:visited {
    color: blue;
    text-decoration: underline;
  }
}
