.nav {
  padding: 20px $body-padding-xs;
  background-color: $grey-4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: $max-width;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height-xs;

  @include breakpoint(sm) {
    height: $nav-height-sm;
    flex-direction: column;
  }

  @include breakpoint(md) {
    padding: 20px $body-padding-md;
  }

  @include breakpoint(lg) {
    height: $nav-height-lg;
    flex-direction: row;
  }
}

.nav__logo > * { vertical-align: middle; }

.nav__logo__link {
  width: 180px;
  display: inline-block;

  @include breakpoint(sm) { width: 250px; }
}

.nav__logo__info {
  margin-left: 20px;
  padding: 10px 20px;
  border-left: 1px solid $black;
  display: none;

  @include breakpoint(sm) { display: inline-block; }
}

.nav__burger {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 1px;
  border: 1px solid $black;
  padding: 0;

  @include breakpoint(sm) { display: none; }
}

.nav__burger__lines {
  position: absolute;
  height: 2px;
  background-color: $grey-1;
  left: 5px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);

  &:before,
  &:after {
    position: absolute;
    content: '';
    height: 2px;
    background-color: $grey-1;
    left: 0;
    right: 0;
  }

  &:before { top: -5px; }
  &:after { bottom: -5px; }
}

.nav__links {
  display: none;
  @include breakpoint(sm) { display: block; }
}

.nav__links__list__item a {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    background-color: $red-1;
    height: 2px;
    left: 0;
    bottom: -3px;
    width: 0;
    transition: $default-animation;
  }

  &:hover,
  &:focus {
    color: $red-1;

    &:after { width: 100%; }
  }
}

.nav__links__list__item + .nav__links__list__item {
  margin-left: 20px;
}
